<% if logged_in? %>
  <script id="bootstrap-current-user" type="text/javascript">
  	window.currentUser = <%= render("api/users/user.json.jbuilder",
  		user: current_user).html_safe %>
  </script>
<% end %>

<script type="text/javascript">

window.images = {
  homeClevernoteLogo: "<%= asset_path('clevernote-logo.png') %>",
  homepageHero: "<%= asset_path('homepage-hero-desktop.png') %>", 
  sessionClevernoteLogo: "<%= asset_path('session-clevernote-logo.png') %>",
  signupBackground: "<%= asset_path('signup-background.png') %>",
  noteShowFullscreenIcon: "<%= asset_path('note-show-full-screen-icon.png') %>",
  notebookIcon: "<%= asset_path('notebook-icon.png') %>",
  noteShowEditorPlaceholder: "<%= asset_path('note-show-editor-placeholder.png') %>",
  userAvatar:"<%= asset_path('user-avatar.png') %>",
}
</script>

<main id="root"></main>