<% if logged_in? %>
  <script id="bootstrap-current-user" type="text/javascript">
  	window.currentUser = <%= render("api/users/user.json.jbuilder",
  		user: current_user).html_safe %>
  </script>
<% end %>

<script type="text/javascript">

window.images = {
  homeEvernoteLogo: "<%= asset_path('evernote-logo.png') %>",
  homepageHero: "<%= asset_path('homepage-hero-desktop.png') %>", 
  sessionEvernoteLogo: "<%= asset_path('session-evernote-logo.png') %>",
  signupBackground: "<%= asset_path('signup-background.png') %>"

}
</script>

<main id="root"></main>